services:
  services:
    image: node:18
    container_name: app_prefeitura_services
    build:
      context: ./
      dockerfile: ./Dockerfile
    restart: always
    deploy:
      resources:
        limits:
          cpus: '0.03'
          memory: 256M
        reservations:
          memory: 128M
    environment:
      NODE_ENV: ${NODE_ENV}
      APPLICATION_PORT: ${APPLICATION_PORT}
      API_KEY: ${API_KEY}
      DATABASE_URL: ${DATABASE_URL}

    ports:
      - 3000
    networks:
      - dokploy-network
networks:
  dokploy-network:
    external: true
